#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #333;
  background-image: linear-gradient(45deg, #333, rgba(1, 180, 1, 0.363));
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.app-container{
  background-color: #333;
  padding: 50px 150px;
  border-radius: 20px;
}
.menu-container{
  border-top: 2px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 5px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
button{
  color: white;
}
.menu-container button, .menu-container input{
  margin: 15px;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: medium;
}
.menu-container input{
  background-color: #333;
  color: white;
  border-color: white;
}
.greenBtn{
  background-color: green;
  border: 1px solid green;
  transition: all 0.5s;
}
.greenBtn:hover{
  background-color: rgb(1, 180, 1);
  border: 1px solid rgb(1, 180, 1);
}
.yellowBtn{
  background-color: goldenrod;
  border: 1px solid  goldenrod;
  transition: all 0.5s;
}
.yellowBtn:hover{
  background-color: gold;
  border: 1px solid  gold;
}
.redBtn{
  background-color: rgb(167, 0, 0);
  border: 1px solid  rgb(167, 0, 0);
  transition: all 0.5s;
}
.redBtn:hover{
  background-color: red;
  border: 1px solid  red;
}
.notes-container{
  border-bottom: 1px solid gray;
  margin: 0 10px;
}

.note-onlist-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor:pointer;
  transition: all 0.5s;
}
.note-onlist-container:hover{
  border-color: rgb(1, 180, 1);
  color: rgb(1, 180, 1);
}
.note-description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: left;
  margin: 0 20px;
}
.note-description p{
  margin: 21px;
}
.note-menu{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.note-menu button{
  margin: 0 10px;
}