#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #333;
  background-image: linear-gradient(45deg, #333, rgb(1, 180, 1));
  color: white;
}
.app-container{
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
}
.menu-container{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.menu-container button, .menu-container input{
  margin: 15px;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: medium;
}
.menu-container input{
  background-color: #333;
  color: white;
  border-color: white;
}
.greenBtn{
  background-color: green;
  border: 1px solid green;
  transition: all 0.5s;
}
.greenBtn:hover{
  background-color: rgb(1, 180, 1);
  border: 1px solid rgb(1, 180, 1);
}
.yellowBtn{
  background-color: goldenrod;
  border: 1px solid  goldenrod;
  transition: all 0.5s;
}
.yellowBtn:hover{
  background-color: gold;
  border: 1px solid  gold;
}
.redBtn{
  background-color: rgb(167, 0, 0);
  border: 1px solid  rgb(167, 0, 0);
  transition: all 0.5s;
}
.redBtn:hover{
  background-color: red;
  border: 1px solid  red;
}

.notes-container{
  padding: 10px;
}